<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li id="bars" class="fa fa-bars">
                        <!-- <span></span>
                        <span></span>
                        <span></span> -->
                    </li>
                    <li class="p-cursor" id="search" class="fa fa-search">

                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Reach</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>